<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjut.sys.dao.WarnMessageMapper">
    <select id="findById" resultType="WarnMessage">
        select * from warn_message
        where id = #{id}
    </select>
    <insert id="create">
        insert into warn_message
        (title,warn_line,type,item,email)
        values(#{title},#{warnLine},#{type},#{item},#{email})
    </insert>
    <update id="update">
        UPDATE warn_message
        set title=#{title}
        ,warn_line=#{warnLine}
        ,type=#{type}
        ,item=#{item}
        ,email=#{email}
        where id=#{id}
    </update>
    <delete id="delete">
        delete from warn_message
        WHERE id = #{id}
    </delete>
    <select id="getAll" resultType="WarnMessage">
        select * from warn_message
    </select>

</mapper>